<nav class="navbar color-palet-black">
  <div class="container-fluid">
    <a class="navbar-brand justify-content-center" href="#">
      <%= image_tag("logo_popcorn",alt: "logo", width: 50, height: 40, class: "d-inline-block align-text-top")%> 
      <h4 class="color-palet-first-pink">CinéListes</h4>
    </a>
  </div>
</nav>
   