<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <%= image_tag("logo_popcorn",alt: "logo", width: 50, height: 40, class: "d-inline-block align-text-top")%>
      Bootstrap
    </a>
  </div>
</nav>